<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>Codecool events</title>
</head>
<body>
<header>
    <div>Codecool events!</div>
</header>
<div class="container">
    <div id="events" class="row">
    <div class="collection" >
        <a href="#" class="collection-item" th:each="event : ${eventContainer}" >
            <div class="event_date" th:text="${event.date}">2017-02-03</div>
            <div class="event_time" th:text="${event.time}">18:00</div>
            <div class="event_name" th:text="${event.name}">Event name</div>
            <div class="event_category" th:text="${event.category.name}">Event category</div>
        </a>
    </div>


</div>

<div th:replace="footer :: copy"></div>
</div>

</body>
</html>