<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Codecool events</title>
</head>
<body>
<div class="container grey lighten-2">

    <div class="row">
        <div class="col s7 offset-s2">
            <div class="card">

                <div class="card-content">
                    <h2 class="card-title indigo-text">Add new event</h2>
<fieldset>
<form method="POST" >
    <div class="form-group">
        <label for="event_name">Item name</label>
        <input id="event_name" autofocus type="text" name="event_name" required/>
        <label for="event_date">Date</label>
        <input type="date" id="event_date" name="event_date" class="datepicker" />
        <label for="event_date">Time</label>
        <input type="time" id="event_time" name="event_time" class="timepicker" />
        <label for="description">Description</label>
        <textarea title="description" id="description" name="description" placeholder="Type description here..."></textarea>
        <label for="event_url">URL address</label>
        <input id="event_url" type="url" name="event_url" />
    </div>
    <input class="btn btn-primary right" type="submit" value="Add" />
</form>
</fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>