<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Codecool events</title>
</head>
<body>
<div class="container grey lighten-2">
    <div th:replace="navigation :: nav"></div>
    <div class="row">
        <div class="col s7 offset-s2">
            <div class="card">
                <div class="card-content">
                    <h2 class="card-title indigo-text"
                        th:text="${event!=null} ? 'Edit event '+ ${event.name} : 'Add new event'">Add/edit event</h2>
                    <fieldset>
                        <form method="POST">
                            <div class="form-group">
                                <div class="input-field">
                                    <input id="event_name" autofocus type="text" name="event_name" required
                                           th:value="${event!=null} ? ${event.name} : null"/>
                                    <label class="active" for="event_name">Event name</label>
                                </div>
                                <div>
                                    <label class="active" for="event_date">Date</label>
                                    <input required type="date" id="event_date" name="event_date"
                                           th:value="${event!=null} ? ${event.date} : null"/>
                                </div>
                                <div>
                                    <label class="active" for="event_time">Time</label>
                                    <input required type="time" id="event_time" name="event_time"
                                           th:value="${event!=null} ? ${event.time} : null"/>
                                </div>
                                <div class="input-field">
                                    <label for="description">Description</label>
                                    <textarea class="materialize-textarea" title="description" id="description"
                                              name="description"
                                              th:placeholder="${event!=null} ? null : 'Type description here...'"
                                              th:text="${event!=null} ? ${event.description} : null"></textarea>
                                </div>
                                <div class="input-field">
                                    <input id="event_url" type="url" name="event_url" class="validate"
                                           th:value="${event!=null} ? ${event.url} : null"/>
                                    <label class="active" for="event_url" data-error="incorrect adress"
                                           data-success="correct">URL
                                        address</label>
                                </div>
                                <div>
                                    <label>Choose category
                                        <a class="waves-light btn-flat right" href="/category/add">
                                            <i class="material-icons left">add</i> Add new category
                                        </a>
                                        <select name="category">
                                            <option th:each="category : ${categoryContainer}" th:value="${category.id}"
                                                    th:text="${category.name}"
                                                    th:attr="selected=${event!=null && category.id == event.category.id ? 'selected' : null}">
                                                Option 1
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <input class="btn btn-primary right" type="submit"
                                   th:value="${event!=null} ? 'Submit' : 'Add'"/>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

</body>
</html>