<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Codecool events</title>
</head>
<body>
<header>
    <div>Codecool events!</div>
</header>
<div class="container grey lighten-2">

    <div  class="row">
        <div class="col s10 offset-s1">
            <div id="categories" class="card">

                <div class="card-content">
                    <a class="waves-effect waves-light btn" href="/events/all">ALL</a>
                    <a  th:each="category : ${categoryContainer}" class="waves-effect waves-light btn"
                        th:text="${category.name}" th:href="@{http://localhost:8888/events/{category}(category=${category.name.toLowerCase().replace(' ', '-')})}">category</a>
                </div>
            </div>
            <div id="events" class="card">

                <div class="card-content">
        <div class="collection">
            <div th:each="event : ${eventContainer}">
                <div class="secondary-content">

                    <a th:if="${userStatus}=='admin'"
                       th:href="@{http://localhost:8888/event/{id}/remove(id=${event.id})}">
                        <i class="material-icons">delete</i></a>
                    <a th:if="${userStatus}=='admin'" th:href="@{http://localhost:8888/event/{id}/edit(id=${event.id})}"
                    ><i class="material-icons">edit</i></a></div>
                <a th:href="@{http://localhost:8888/event/{id}/show(id=${event.id})}"
                   class="collection-item">

                    <div class="event-date" th:text="${event.date}">2017-02-03</div>
                    <div class="event-time" th:text="${event.time}">18:00</div>
                    <div class="event-name" th:text="${event.name}">Event name</div>
                    <div class="event-category" th:text="${event.category.name}">Event category
                    </div>


                </a>
            </div>
        </div>
        <div class="fixed-action-btn" th:if="${userStatus}=='admin'">
            <a class="btn-floating btn-large red" href="/event/add">
                <i class="large material-icons">add</i>
            </a>
        </div>

                </div>
            </div>
        </div>
    </div>
</div>

    </div>

    <div th:replace="footer :: copy"></div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>