<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav">
    <div class="nav-wrapper indigo darken-3">
        <a class="brand-logo" href="/"><i class="material-icons">home</i> Codecool Events</a>

        <ul th:if="${userStatus} == 'admin'" id="nav-mobile" class="right hide-on-med-and-down">
            <li th:if="${userStatus} == 'admin' "><a href="/event/panel">Admin panel</a></li>
        </ul>
    </div>
</nav>
</body>
</html>